# Toolkits

Toolkits são conjuntos de ferramentas. Para alguns toolkits, agent específicos já foram criado na estrutura do LangChain e é isto que vamos explorar agora.

https://python.langchain.com/v0.1/docs/integrations/toolkits/

## Pandas Dataframe

In [1]:
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai.chat_models import ChatOpenAI
from dotenv import load_dotenv, find_dotenv
import pandas as pd
_= load_dotenv(find_dotenv())

chat = ChatOpenAI(model='gpt-4o-mini')
df = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv")

df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.shape

(891, 12)

In [3]:
agent = create_pandas_dataframe_agent(
    chat,
    df,
    verbose=True,
    agent_type='tool-calling',
    allow_dangerous_code=True
)

In [4]:
agent.invoke({'input': 'Quantas linhas tem na tabela?'})

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': 'len(df)'}`


891A tabela possui 891 linhas.

> Finished chain.

{'input': 'Quantas linhas tem na tabela?',
 'output': 'A tabela possui 891 linhas.'}

In [6]:
agent.invoke({'input': 'Qual a média de idade dos passageiros?'})

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df['Age'].mean()"}`


29.69911764705882A média de idade dos passageiros é aproximadamente 29.7 anos.

> Finished chain.

{'input': 'Qual a média de idade dos passageiros?',
 'output': 'A média de idade dos passageiros é aproximadamente 29.7 anos.'}

In [7]:
agent.invoke({'input': 'Quantos passageiros sobreviveram?'})

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df['Survived'].sum()"}`


342No total, 342 passageiros sobreviveram.

> Finished chain.

{'input': 'Quantos passageiros sobreviveram?',
 'output': 'No total, 342 passageiros sobreviveram.'}

## SQL Database

In [8]:
from langchain_community.utilities.sql_database import SQLDatabase

db = SQLDatabase.from_uri('sqlite:///arquivos/Chinook.db')

In [9]:
from langchain_community.agent_toolkits.sql.base import create_sql_agent

agent_executor = create_sql_agent(
    chat,
    db=db,
    agent_type='tool-calling',
    verbose=True
)

In [10]:
for tool in agent_executor.tools:
    print(tool.name)
    print(tool.description)
    print()

sql_db_query
Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.

sql_db_schema
Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3

sql_db_list_tables
Input is an empty string, output is a comma-separated list of tables in the database.

sql_db_query_checker
Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

In [11]:
agent_executor.invoke({'input': 'Me descreva a base de dados'})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Album'}`



CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/
Invoking: `sql_db_schema` with `{'table_names': 'Artist'}`



CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/
Invoking: `sql_db_schema` with `{'table_names': 'Customer'}`



CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/
Invoking: `sql_db_schema` with `{'table_names': 'Employee'}`



CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/
Invoking: `sql_db_schema` with `{'table_names': 'Genre'}`



CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/
Invoking: `sql_db_schema` with `{'table_names': 'Invoice'}`



CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
Invoking: `sql_db_schema` with `{'table_names': 'InvoiceLine'}`



CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/
Invoking: `sql_db_schema` with `{'table_names': 'MediaType'}`



CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/
Invoking: `sql_db_schema` with `{'table_names': 'Playlist'}`



CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/
Invoking: `sql_db_schema` with `{'table_names': 'PlaylistTrack'}`



CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/
Invoking: `sql_db_schema` with `{'table_names': 'Track'}`



CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/A base de dados contém as seguintes tabelas, cada uma com suas respectivas colunas:

1. **Album**
   - AlbumId (INTEGER)
   - Title (NVARCHAR(160))
   - ArtistId (INTEGER) - Chave estrangeira referindo-se à tabela Artist

2. **Artist**
   - ArtistId (INTEGER)
   - Name (NVARCHAR(120))

3. **Customer**
   - CustomerId (INTEGER)
   - FirstName (NVARCHAR(40))
   - LastName (NVARCHAR(20))
   - Company (NVARCHAR(80))
   - Address (NVARCHAR(70))
   - City (NVARCHAR(40))
   - State (NVARCHAR(40))
   - Country (NVARCHAR(40))
   - PostalCode (NVARCHAR(10))
   - Phone (NVARCHAR(24))
   - Fax (NVARCHAR(24))
   - Email (NVARCHAR(60))
   - SupportRepId (INTEGER) - Chave estrangeira referindo-se à tabela Employee

4. **Employee**
   - EmployeeId (INTEGER)
   - LastName (NVARCHAR(20))
   - FirstName (NVARCHAR(20))
   - Title (NVARCHAR(30))
   - ReportsTo (INTEGER) - Chave estrangeira referindo-se à tabela Employee
   - BirthDate (DATETIME)
   - HireDate (DATETIME)
   - Address (NVARCHAR(70))
   - City (NVARCHAR(40))
   - State (NVARCHAR(40))
   - Country (NVARCHAR(40))
   - PostalCode (NVARCHAR(10))
   - Phone (NVARCHAR(24))
   - Fax (NVARCHAR(24))
   - Email (NVARCHAR(60))

5. **Genre**
   - GenreId (INTEGER)
   - Name (NVARCHAR(120))

6. **Invoice**
   - InvoiceId (INTEGER)
   - CustomerId (INTEGER) - Chave estrangeira referindo-se à tabela Customer
   - InvoiceDate (DATETIME)
   - BillingAddress (NVARCHAR(70))
   - BillingCity (NVARCHAR(40))
   - BillingState (NVARCHAR(40))
   - BillingCountry (NVARCHAR(40))
   - BillingPostalCode (NVARCHAR(10))
   - Total (NUMERIC(10, 2))

7. **InvoiceLine**
   - InvoiceLineId (INTEGER)
   - InvoiceId (INTEGER) - Chave estrangeira referindo-se à tabela Invoice
   - TrackId (INTEGER) - Chave estrangeira referindo-se à tabela Track
   - UnitPrice (NUMERIC(10, 2))
   - Quantity (INTEGER)

8. **MediaType**
   - MediaTypeId (INTEGER)
   - Name (NVARCHAR(120))

9. **Playlist**
   - PlaylistId (INTEGER)
   - Name (NVARCHAR(120))

10. **PlaylistTrack**
    - PlaylistId (INTEGER) - Chave estrangeira referindo-se à tabela Playlist
    - TrackId (INTEGER) - Chave estrangeira referindo-se à tabela Track

11. **Track**
    - TrackId (INTEGER)
    - Name (NVARCHAR(200))
    - AlbumId (INTEGER) - Chave estrangeira referindo-se à tabela Album
    - MediaTypeId (INTEGER) - Chave estrangeira referindo-se à tabela MediaType
    - GenreId (INTEGER) - Chave estrangeira referindo-se à tabela Genre
    - Composer (NVARCHAR(220))
    - Milliseconds (INTEGER)
    - Bytes (INTEGER)
    - UnitPrice (NUMERIC(10, 2))

Essas tabelas permitem o gerenciamento de informações sobre álbuns, artistas, clientes, funcionários, gêneros, faturas, tipos de mídia, playlists e faixas.

> Finished chain.

{'input': 'Me descreva a base de dados',
 'output': 'A base de dados contém as seguintes tabelas, cada uma com suas respectivas colunas:\n\n1. **Album**\n   - AlbumId (INTEGER)\n   - Title (NVARCHAR(160))\n   - ArtistId (INTEGER) - Chave estrangeira referindo-se à tabela Artist\n\n2. **Artist**\n   - ArtistId (INTEGER)\n   - Name (NVARCHAR(120))\n\n3. **Customer**\n   - CustomerId (INTEGER)\n   - FirstName (NVARCHAR(40))\n   - LastName (NVARCHAR(20))\n   - Company (NVARCHAR(80))\n   - Address (NVARCHAR(70))\n   - City (NVARCHAR(40))\n   - State (NVARCHAR(40))\n   - Country (NVARCHAR(40))\n   - PostalCode (NVARCHAR(10))\n   - Phone (NVARCHAR(24))\n   - Fax (NVARCHAR(24))\n   - Email (NVARCHAR(60))\n   - SupportRepId (INTEGER) - Chave estrangeira referindo-se à tabela Employee\n\n4. **Employee**\n   - EmployeeId (INTEGER)\n   - LastName (NVARCHAR(20))\n   - FirstName (NVARCHAR(20))\n   - Title (NVARCHAR(30))\n   - ReportsTo (INTEGER) - Chave estrangeira referindo-se à tabela Employee\n   - BirthDate (DATETIME)\n   - HireDate (DATETIME)\n   - Address (NVARCHAR(70))\n   - City (NVARCHAR(40))\n   - State (NVARCHAR(40))\n   - Country (NVARCHAR(40))\n   - PostalCode (NVARCHAR(10))\n   - Phone (NVARCHAR(24))\n   - Fax (NVARCHAR(24))\n   - Email (NVARCHAR(60))\n\n5. **Genre**\n   - GenreId (INTEGER)\n   - Name (NVARCHAR(120))\n\n6. **Invoice**\n   - InvoiceId (INTEGER)\n   - CustomerId (INTEGER) - Chave estrangeira referindo-se à tabela Customer\n   - InvoiceDate (DATETIME)\n   - BillingAddress (NVARCHAR(70))\n   - BillingCity (NVARCHAR(40))\n   - BillingState (NVARCHAR(40))\n   - BillingCountry (NVARCHAR(40))\n   - BillingPostalCode (NVARCHAR(10))\n   - Total (NUMERIC(10, 2))\n\n7. **InvoiceLine**\n   - InvoiceLineId (INTEGER)\n   - InvoiceId (INTEGER) - Chave estrangeira referindo-se à tabela Invoice\n   - TrackId (INTEGER) - Chave estrangeira referindo-se à tabela Track\n   - UnitPrice (NUMERIC(10, 2))\n   - Quantity (INTEGER)\n\n8. **MediaType**\n   - MediaTypeId (INTEGER)\n   - Name (NVARCHAR(120))\n\n9. **Playlist**\n   - PlaylistId (INTEGER)\n   - Name (NVARCHAR(120))\n\n10. **PlaylistTrack**\n    - PlaylistId (INTEGER) - Chave estrangeira referindo-se à tabela Playlist\n    - TrackId (INTEGER) - Chave estrangeira referindo-se à tabela Track\n\n11. **Track**\n    - TrackId (INTEGER)\n    - Name (NVARCHAR(200))\n    - AlbumId (INTEGER) - Chave estrangeira referindo-se à tabela Album\n    - MediaTypeId (INTEGER) - Chave estrangeira referindo-se à tabela MediaType\n    - GenreId (INTEGER) - Chave estrangeira referindo-se à tabela Genre\n    - Composer (NVARCHAR(220))\n    - Milliseconds (INTEGER)\n    - Bytes (INTEGER)\n    - UnitPrice (NUMERIC(10, 2))\n\nEssas tabelas permitem o gerenciamento de informações sobre álbuns, artistas, clientes, funcionários, gêneros, faturas, tipos de mídia, playlists e faixas.'}

In [12]:
agent_executor.invoke({'input': 'Qual artista possui mais albuns?'})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Artist'}`



CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/
Invoking: `sql_db_schema` with `{'table_names': 'Album'}`



CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT Artist.Name, COUNT(Album.AlbumId) AS AlbumCount FROM Artist INNER JOIN Album ON Artist.ArtistId = Album.ArtistId GROUP BY Artist.Name ORDER BY AlbumCount DESC LIMIT 10;'}`


```sql
SELECT Artist.Name, COUNT(Album.AlbumId) AS AlbumCount
FROM Artist
INNER JOIN Album ON Artist.ArtistId = Album.ArtistId
GROUP BY Artist.Name
ORDER BY AlbumCount DESC
LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': 'SELECT Artist.Name, COUNT(Album.AlbumId) AS AlbumCount FROM Artist INNER JOIN Album ON Artist.ArtistId = Album.ArtistId GROUP BY Artist.Name ORDER BY AlbumCount DESC LIMIT 10;'}`


[('Iron Maiden', 21), ('Led Zeppelin', 14), ('Deep Purple', 11), ('U2', 10), ('Metallica', 10), ('Ozzy Osbourne', 6), ('Pearl Jam', 5), ('Various Artists', 4), ('Van Halen', 4), ('Lost', 4)]O artista com mais álbuns é **Iron Maiden**, com um total de 21 álbuns.

> Finished chain.

{'input': 'Qual artista possui mais albuns?',
 'output': 'O artista com mais álbuns é **Iron Maiden**, com um total de 21 álbuns.'}

In [13]:
agent_executor.invoke({'input': 'Qual o cliente que mais comprou?'})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Customer'}`



CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/
Invoking: `sql_db_schema` with `{'table_names': 'Invoice'}`



CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
Invoking: `sql_db_schema` with `{'table_names': 'InvoiceLine'}`



CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT Customer.FirstName, Customer.LastName, COUNT(Invoice.InvoiceId) as PurchaseCount\nFROM Customer\nJOIN Invoice ON Customer.CustomerId = Invoice.CustomerId\nGROUP BY Customer.CustomerId\nORDER BY PurchaseCount DESC\nLIMIT 10;'}`
responded: To find the customer who made the most purchases, I'll count the number of invoices for each customer and order the results by the count in descending order.

Here’s the query I will run:

```sql
SELECT Customer.FirstName, Customer.LastName, COUNT(Invoice.InvoiceId) as PurchaseCount
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId
ORDER BY PurchaseCount DESC
LIMIT 10;
```

Let's check if the query is correct before executing it.

```sql
SELECT Customer.FirstName, Customer.LastName, COUNT(Invoice.InvoiceId) as PurchaseCount
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId, Customer.FirstName, Customer.LastName
ORDER BY PurchaseCount DESC
LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': 'SELECT Customer.FirstName, Customer.LastName, COUNT(Invoice.InvoiceId) as PurchaseCount\nFROM Customer\nJOIN Invoice ON Customer.CustomerId = Invoice.CustomerId\nGROUP BY Customer.CustomerId, Customer.FirstName, Customer.LastName\nORDER BY PurchaseCount DESC\nLIMIT 10;'}`


[('Luís', 'Gonçalves', 7), ('Leonie', 'Köhler', 7), ('François', 'Tremblay', 7), ('Bjørn', 'Hansen', 7), ('František', 'Wichterlová', 7), ('Helena', 'Holý', 7), ('Astrid', 'Gruber', 7), ('Daan', 'Peeters', 7), ('Kara', 'Nielsen', 7), ('Eduardo', 'Martins', 7)]Os clientes que mais compraram, com 7 compras cada, são:

1. Luís Gonçalves
2. Leonie Köhler
3. François Tremblay
4. Bjørn Hansen
5. František Wichterlová
6. Helena Holý
7. Astrid Gruber
8. Daan Peeters
9. Kara Nielsen
10. Eduardo Martins

Todos esses clientes têm um total de 7 compras.

> Finished chain.

{'input': 'Qual o cliente que mais comprou?',
 'output': 'Os clientes que mais compraram, com 7 compras cada, são:\n\n1. Luís Gonçalves\n2. Leonie Köhler\n3. François Tremblay\n4. Bjørn Hansen\n5. František Wichterlová\n6. Helena Holý\n7. Astrid Gruber\n8. Daan Peeters\n9. Kara Nielsen\n10. Eduardo Martins\n\nTodos esses clientes têm um total de 7 compras.'}